/* ========================================
   body
   ======================================== */

.websitebody {
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .websitebody {
    width: 99.9vw;
    height: 100vh;
  }
}

#websitebody1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#backcolor1 {
  background-color: #bbeaff;
  flex-grow: 1;
}

#backcolor2 {
  background-color: #a9e5ff;
  flex-grow: 1;
}

#backcolor3 {
  background-color: #98ddfc;
  flex-grow: 1;
}

#backcolor4 {
  background-color: #84d9ff;
  flex-grow: 1;
}

#backcolor5 {
  background-color: #72d3fe;
  flex-grow: 1;
}

@media screen and (min-width: 1024px) {
  #websitebody1 {
    flex-direction: row;
  }
}

#websitebody2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: 10vh;
}

.title h1 {
  font-size: 8vw;
  line-height: 10vh;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .title {
    height: 15vh;
  }

  #title1 {
    animation: move-title 3s ease-in-out none 0s 1 normal;
  }

  @keyframes move-title {
    0%    { transform: translateY(40vh);}
    70%    { transform: translateY(40vh);}
    100%  { transform: translateY(0px);}
  }

  .title h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #001429;
    font-size: 10vh;
    line-height: 15vh;
    font-weight: unset;
  }
}

.bodypart {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bodypart1 {
  animation: move-bodypart 1s ease-out;
}

@keyframes move-bodypart {
  0%    { transform: translateY(100px);}
  100%  { transform: translateY(0px);}
}

.textpart {
  width: 90vw;
  height: 69vh;
  /*border-bottom: 1px solid #ffffff;*/
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff80;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 20px -15px black;
}

.ctapart {
  width: 90vw;
  height: 19vh;
  /*border-top: 1px solid #ffffff;*/
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff80;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 20px -15px black;
}

#ctapart2 {
  height: 70vh;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (min-width: 1024px) {
  .bodypart {
    height: 85vh;
    flex-direction: row;
    max-width: 1500px;
    max-height: 1000px;
  }

  #bodypart1 {
    animation: unset;
  }

  .textpart {
    width: 55vw;
    height: 80vh;
    max-height: 1000px;
    /*border-bottom: unset;
    border-right: 1px solid #ffffff;*/
    margin-bottom: unset;
    margin-right: 2px;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
  }

  #textpart1 {
    animation: move-textpart1 4s ease-in-out none 0s 1 normal;
  }

  @keyframes move-textpart1 {
    0%    { transform: translateX(-100vw);}
    50%    { transform: translateX(-100vw);}
    100%  { transform: translateX(0px);}
  }

  .ctapart {
    width: 35vw;
    height: 80vh;
    max-height: 1000px;
    /*border-top: unset;
    border-left: 1px solid #ffffff;*/
    margin-top: unset;
    margin-left: 2px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
  }

  #ctapart1 {
    animation: move-ctapart1 4s ease-in-out none 0s 1 normal;
  }

  @keyframes move-ctapart1 {
    0%    { transform: translateX(100vw);}
    50%    { transform: translateX(100vw);}
    100%  { transform: translateX(0px);}
  }
}

.textcontent {
  overflow-x: hidden;
  overflow-y: hidden;
}

.textcontent h2, .ctacontent h2 {
  text-align: center;
  padding-bottom: 10px;
}

.textcontent li, .ctacontent li {
  padding: 5px 10px;
}

.li-justify {
  text-align: justify;
}

.li-center {
  text-align: center;
}

.button {
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 4px 20px;
  margin: 10px 50px;
  background-color: #ffffff;
}

.button:hover {
  background-color: transparent;
  border: 2px solid #001429;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formelement {
    margin: 10px 0px;
}

.input {
  width: 20vw;
  height: 20px;
  min-width: 200px;
  vertical-align: middle;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.input:focus {
  outline: none;
}


@media screen and (min-width: 768px) {
  .textcontent h2, .ctacontent h2 {
    font-size: 2em;
    line-height: 2em;
  }

  .textcontent li, .ctacontent li {
    padding: 10px 30px;
    font-size: 1.5em;
    line-height: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .textcontent h2, .ctacontent h2 {
    font-size: 1.5em;
    line-height: 2em;
  }

  .textcontent li, .ctacontent li {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 1440px) {
  .textcontent h2, .ctacontent h2 {
    font-size: 2em;
    line-height: 2.2em;
  }

  .textcontent li, .ctacontent li {
    padding: 10px 50px;
    font-size: 1.3em;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 1920px) {
  .textcontent h2, .ctacontent h2 {
    font-size: 2.2em;
    line-height: 2.5em;
  }

  .textcontent li, .ctacontent li {
    padding: 10px 100px;
    font-size: 1.5em;
    line-height: 2em;
  }
}
